/* Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4b1010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar Styles */
.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo img {
  max-height: 50px;
  height: auto;
  display: block;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Game Container Styles */
.game-container {
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  margin-top: 100px; /* Margin to avoid overlapping with navbar */
  border: 5px solid #ffffff;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.responsive-iframe {
  width: 100%;
  height: 600px;
  border: none;
}

/* Link Container Styles */
.link-container {
  text-align: center;
  margin-top: 20px;
}

.hyperlink {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  background-color: #4b1010;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hyperlink:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Footer Styles */
.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 30px 0;
  position: relative;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .logo {
    order: 1;
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .navbar a {
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .hyperlink {
    font-size: 4vw; /* Dynamic font size based on viewport width */
  }

  .footer {
    font-size: 12px;
    padding: 15px 0;
  }
}
